*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nunito", sans-serif; */
    font-family: 'Futura TS New', sans-serif;
                                                
}

body{
    background-color: #ffdfd4;
}
.container{
    display: flex;
}

.static-back{
    height: 100vh;
    width: 60%;
    background-color: #040926;
    position: relative;
}

.biraddim{
    color: #ffdfd4;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    font-style: italic;
    position: absolute;
    bottom: 50px;
    right: 30px;
    opacity: 0.8;
}

img{
    width: 480px;
    margin-top: 65px;
    margin-left: 65px;
}

.login_page{
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sending_page{
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.wrapper{
    width: 320px;
    height: 232px;
    display: grid;
    place-items: center;
    gap: 16px;
    text-align: center;
}

.icon{
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 1px solid #ff4401;
}

.icon i{
    font-size: 35px;
    font-weight: 100;
    color: #ff4401;
}

.wrapper p{
    font-size: 17px;
    font-weight: 400;
}


.wrapper button{
    width: 100%;
    height: 50px;
    border-radius: 12px ;
    outline: none;
    border: none;
    color: #ffdfd4;
    background-color: #ff4401;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
}

.wrapper button:hover{
    cursor: pointer;
    border: 2px solid #ff4401;
    background-color: transparent;
    color: #ff4401;
}

